#
# Example .env file, use this for testing your favorite service.
#
# To import this into keychain, install 'enveloper[all]', then run:
#
#   enveloper import sample.env --domain mydomain --project myproject
#
# To use inside a Makefile or load them into your environment variables:
#
#   eval "$(enveloper --domain mydomain --project myproject export --format unix)"
#
# To mass unset all the variables:
#
#   eval "$(enveloper --domain mydomain --project myproject unexport --format unix)"
#
MY_API_KEY="ABC23456"
MY_API_SECRET="This is my secret"
LEVEL_SET=500
